<footer id="footer">
	<div class="region region-footer">
		<div id="block-block-2" class="block block-block block-odd first clearfix">
			<div class="block-inner">
				<div class="content">
					<div id="footer">
						<div class="chf_wrapper clearFix"><span class="ghf_more_tab chf_flR" onclick="ghf_slideToggle(this);"><span class="chf_flL" id="textual">Less</span><span class="chf_expnd_state" id="icons">&nbsp;</span>&nbsp;</span>&nbsp;</div>
						<div class="ghf_footer_linkarea">
							<div class="ghf_footer_top clearFix" onclick="ghf_slideToggle(this);">
								<p class="headings clearFix"><span class="chf_flL">About MakeMyTrip</span><span class="chf_flL">Products</span><span class="chf_flL">Weekend
Getaways</span><span class="chf_flL">Top Tourist Destinations</span><span class="chf_flL">Theme Packages</span><span class="chf_flL last">Top Packages</span>&nbsp;</p>
							</div>
							<div class="ghf_footer_center" id="ghf_footer_center" style="display:block;">
								<div class="chf_wrapper clearFix">
									<div class="chf_section">
										<ul class="chf_footer_list">
											<li><a href="https://www.makemytrip.com/about-us/company_profile.php">About Us</a>&nbsp;</li>
											<li><a href="https://investors.makemytrip.com">Investor Relations</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/about-us/jobs.php">Careers</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/support/sitemap.html">Site Map</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/support/contact_us.html">Contact Us</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/legal/privacy_policy.html">Privacy Policy</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/legal/user_agreement.html">User Agreement</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/support/branch-offices.php">Branch Offices_India</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-international/visa-information.html">Visa Information</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/legal/payment_security.html">Payment Security</a>&nbsp;</li>
											<li><a href="https://makemytrip.custhelp.com/" rel="nofollow">FAQs</a>&nbsp;</li>
										</ul>
									</div>
									<div class="chf_section">
										<ul class="chf_footer_list">
											<li><a href="https://www.makemytrip.com/flights/">Flights</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/international-flights/">International Flights</a></li>
											<li><a href="https://www.makemytrip.com/hotels/">Hotels</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/hotels-international/">International Hotels</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/">Holidays in India</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-international/">International Holidays</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/travel-guide/">Travel Guide</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/blog/">Blog</a>&nbsp;</li>
											<li><a href="http://www.makemytrip.com/mobile">Mobile Apps</a>&nbsp;</li>
											<li><a href="http://b2b.makemytrip.com/makemytrip/AffiliateLoginHome.do" rel="nofollow">B2B</a>&nbsp;</li>
										</ul>
									</div>
									<div class="chf_section">
										<ul class="chf_footer_list">
											<li><a href="https://www.makemytrip.com/holidays-india/weekend-getaways-from-bangalore.html">Bangalore Weekend
Getaways</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/weekend-getaways-from-delhi.html">Delhi Weekend Getaways</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/weekend-getaways-from-mumbai.html">Mumbai Weekend
Getaways</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/weekend-getaways-from-hyderabad.html">Hyderabad Weekend
Getaways</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/weekend-getaways-from-pune.html">Pune Weekend Getaways</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/weekend-getaways-from-chennai.html">Chennai Weekend
Getaways</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/weekend-getaways-from-vadodara.html">Vadodara Weekend
Getaways</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/weekend-getaways-from-kolkata.html">Kolkata Weekend
Getaways</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/weekend-getaways-from-ahmedabad.html">Ahmedabad Weekend
Getaways</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/weekend-getaways-from-jaipur.html">Jaipur Weekend
Getaways</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/weekend-getaways-from-chandigarh.html">Chandigarh Weekend
Getaways</a>&nbsp;</li>
										</ul>
									</div>
									<div class="chf_section">
										<ul class="chf_footer_list">
											<li><a href="https://www.makemytrip.com/holidays-india/kashmir-tourism.html">Kashmir Tourism</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/gujarat-tourism.html">Gujarat Tourism</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/himachal-tourism.html">Himachal Tourism</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/goa-tourism.html">Goa Tourism</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/kerala-tourism.html">Kerala Tourism</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/rajasthan-tourism.html">Rajasthan Tourism</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/sikkim-tourism.html">Sikkim Tourism</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/nepal-tourism.html">Nepal Tourism</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/coorg-tourism.html">Coorg Tourism</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/andaman-tourism.html">Andaman Tourism</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/nainital-tourism.html">Nainital Tourism</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/lakshadweep-tourism.html">Lakshadweep Tourism</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/jaipur-tourism.html">Jaipur Tourism</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/south_india-tourism.html">South India Tourism</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/north_india-tourism.html">North India Tourism</a>&nbsp;</li>
										</ul>
									</div>
									<div class="chf_section">
										<ul class="chf_footer_list">
											<li><a href="https://www.makemytrip.com/holidays-india/honeymoon-packages.html">Honeymoon package</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/family-packages.html">Family Holiday Package</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/adventure-packages.html">Adventure Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/weekend_getaways-packages.html">Weekend Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/kerala-honeymoon-packages.html">Kerala
Honeymoon Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/andaman-honeymoon-packages.html">Andaman Honeymoon
Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/manali-honeymoon-packages.html">Manali Honeymoon
Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/goa-honeymoon-packages.html">Goa Honeymoon Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/ooty-honeymoon-packages.html">Ooty Honeymoon Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/shimla-honeymoon-packages.html">Shimla Honeymoon
Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/munnar-honeymoon-packages.html">Munnar Honeymoon
Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/kashmir-honeymoon-packages.html">Kashmir Honeymoon
Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/darjeeling-honeymoon-packages.html">Darjeeling Honeymoon
Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/coorg-honeymoon-packages.html">coorg honeymoon packages</a>&nbsp;</li>
										</ul>
									</div>
									<div class="chf_section chf_long_section">
										<ul class="chf_footer_list">
											<li><a href="https://www.makemytrip.com/holidays-india/kerala-travel-packages.html">Kerala Tour Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/goa-travel-packages.html">Goa Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/andaman-travel-packages.html">Andaman Tour Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/manali-travel-packages.html">Manali Tour Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/kashmir-travel-packages.html">Kashmir Tour Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/rajasthan-travel-packages.html">Rajasthan Tour Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/mahabaleshwar-travel-packages.html">Mahabaleshwar
Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/lakshadweep-travel-packages.html">Lakshadweep Tour
Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/shimla-packages.html">Shimla Tour Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/darjeeling-travel-packages.html">Darjeeling Tour
Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/himachal-travel-packages.html">Himachal Tour Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/ooty-travel-packages.html">Ooty Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/bhutan-travel-packages.html">Bhutan Tour Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/tirupati-travel-packages.html">Tirupati Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/nainital-travel-packages.html">Nainital Tour
Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/sikkim-travel-packages.html">Sikkim Tour Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/coorg-travel-packages.html">Coorg Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/ladakh-travel-packages.html">Ladakh Tour Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/nepal-travel-packages.html">Nepal Tour Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/new_delhi-travel-packages.html">Delhi Tour Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/south_india-travel-packages.html">South India Tour
Packages</a>&nbsp;</li>
											<li><a href="https://www.makemytrip.com/holidays-india/north_east-travel-packages.html">North East Packages</a>&nbsp;</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="ghf_footer_bottom">
								<div class="chf_wrapper clearFix">
									<div class="chf_partners_links chf_clearFix">
										<ul class="chf_partners chf_clearFix">
											<li class="chf_first"><a class="chf_trust_wave chf_flL" href="#" onclick="javascript:return chf_overlayopen
('https://sealserver.trustkeeper.net/compliance/cert.php?
code=w6ovtZufDpqOkhjsmKTROFWOOTLgvC&amp;style=normal&amp;size=105x54&amp;language=en?
inOverlay=true&amp;width=620&amp;height=550&amp;frame=yes','chf_overlaycontents','chf_blackoverlay');" title="Trust
Wave">&nbsp;</a></li>
											<li><span class="chf_flL verisign"><span class="chf_text">Verisign Secure</span><a class="chf_secure chf_flL" href="#" onclick="javascript:return chf_overlayopen('https://sealinfo.verisign.com/splash?
form_file=fdf/splash.fdf&amp;dn=WWW.MAKEMYTRIP.COM&amp;lang=en&amp;width=540&amp;height=450&amp;frame=yes','chf_overlaycontents','chf_blackove
rlay');" title="Verisign Secure">&nbsp;</a></span>
											</li>
											<li><span class="chf_flL"><span class="chf_text">We Accept <a href="#" onclick="return chf_overlayopen
('http://www.makemytrip.com/alert_270611.php?style=normal&amp;size=105x54&amp;language=en?
inOverlay=true&amp;width=740&amp;height=380&amp;frame=yes','chf_overlaycontents','chf_blackoverlay','We accept following Payment
modes:');">(more)</a>&nbsp;</span><a class="chf_visa chf_flL" href="javascript:void(0);" title="VISA">&nbsp;</a><a class="chf_master_card chf_flL" href="javascript:void(0);" title="MasterCard">&nbsp;</a><a class="chf_amex chf_flL" href="javascript:void(0);" title="AMERICAN EXPRESS">&nbsp;</a></span>
											</li>
											<li><span class="chf_flL member"><span class="chf_text">Members of</span><span class="chf_iata chf_flL" title="IATA">&nbsp;</span><span class="chf_ministry chf_flL"><span class="chf_ministry_Icn chf_flL">&nbsp;</span><span class="chf_flL"> Ministry of Tourism<br> Govt. of India </span></span>
												</span>&nbsp;</li>
											<li><span class="chf_flL chf_reward"><span class="chf_text">Rewards by</span><a class="chf_flL chf_i_mint" href="javascript:void(0);" onclick="javascript:window.location.href='http://www.makemytrip.com/imint'" title="imint">&nbsp;</a></span>&nbsp;</li>
											<li><a class="chf_flL chf_superbrand" href="javascript:void(0);" title="Superbrand">&nbsp;</a>&nbsp;</li>
										</ul>
									</div>
								</div>
							</div>
							<p class="chf_rights alC"> © 2017&nbsp;MakeMyTrip.com. All Rights Reserved.</p>
							<div class="chf_footer_overlays" id="chf_overlaycontents">
								<p class="chf_panel_txt" id="chf_panel_txt"> &nbsp;</p>
								<div class="chf_overlay_section">
									<iframe frameborder="0" id="chf_overlayiframe" marginheight="0" marginwidth="0" scrolling="yes">&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;nbsp;</iframe><a class="chf_closebtn" href="javascript:void(0);" onclick="chf_overlayclose
('chf_overlaycontents','chf_blackoverlay');">&nbsp;</a></div>
								<div class="chf_black_overlay chf_select-free" id="chf_blackoverlay"></div>
								<script src="//www.makemytrip.com/mmtchf/chf/js/chf_blackoverlay_3.0.js" type="javascript">&nbsp;</script>
							</div>
						</div>
						<style>
							h2.pack_hdng {
								text-transform: capitalize;
							}
						</style>
					</div>
				</div>
			</div>
			<div id="block-block-124" class="block block-block block-even last clearfix">
				<div class="block-inner">
					<div class="content">
						<script type="text/javascript">
							var _mfq = _mfq || [];
							(function() {
								var mf = document.createElement("script");
								mf.type = "text/javascript";
								mf.async = true;
								mf.src = "//cdn.mouseflow.com/projects/518885f9-441d-4e23-a8a2-acdde279806e.js";
								document.getElementsByTagName("head")[0].appendChild(mf);
							})();
						</script>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>