<div class="region region-header">
    <div id="mboxImported-default-seo_hol_cms-0" style="visibility: visible; display: block;">
        <div id="mboxClick-seo_hol_cms" onclick="mboxFactories.get('default').getSignaler().signal('click', 'seo_hol_cms-clicked', 'mboxTarget=17460')">

            <title>Download App - Save Bar</title>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

            <style type="text/css">
                .dwnApp_save_strip1 * {
                    padding: 0;
                    margin: 0;
                    font-family: Arial, Helvetica, sans-serif;
                }
                
                .dwnApp_save_strip1 *,
                .dwnApp_save_strip1 *:before,
                .dwnApp_save_strip1 *:after {
                    -webkit-box-sizing: content-box;
                    -moz-box-sizing: content-box;
                    box-sizing: content-box;
                }
                
                .dwnApp_save_strip1 {
                    padding: 5px;
                    background-color: #ffffff;
                    border-bottom: solid 2px #030303;
                    text-align: center;
                    clear: both;
                    position: fixed;
                    top: 0;
                    width: 100%;
                    z-index: 1001;
                }
                
                .dwnApp_save_text {
                    font-size: 15px;
                    font-weight: bold;
                }
                
                .dwnApp_save_closeIcon {
                    font-size: 15px;
                    float: right;
                    margin-right: 10px;
                    font-weight: bold;
                    cursor: pointer;
                    padding: 0 3px;
                }
                
                .dwnApp_save_overlapping-txt {
                    height: 35px;
                }
                
                .scroll_wrapper {
                    height: 1200px;
                }
            </style>

            <!-- scroll wrapper -->

            <!-- save bar -->
            <div class="dwnApp_save_strip1" id="dwnApp_save_strip1">
                <b><font size="" color="#009900">Summer Holiday Sale!</font> Grab Discounts upto <font size="" color="#336600">Rs. 5,000/- OFF</font> On Domestic and upto <font size="" color="#336600">Rs. 60000/- OFF</font> On Internatioanl Holiday* </b> <a href="https://holidayz.makemytrip.com/holidays/india/search.act?dest=Manali##page_header&amp;intid=DOMLP_topbar_DOM" target="_blank"><span class="phoneno"><b> Know More</b></span></a>
                <span class="dwnApp_save_closeIcon" id="dwnApp_save_closeIcon">x</span>
            </div>
            <!-- /save bar -->
            <div class="dwnApp_save_overlapping-txt" id="dwnApp_save_overlapping-txt"></div>

            <!-- /scroll wrapper -->

        </div>
    </div>
    <div id="seo_cms_hol" class="mboxDefault"></div>
    <link rel="stylesheet" type="text/css" href="//cssak.mmtcdn.com/ssohdr/css/ch_seo5.css">
    <script type="text/javascript" src="//jsak.mmtcdn.com/mi8/min/agg/js/mbox-min.js?v=1.0"></script>
    <style>
        .mboxDefault {
            visibility: hidden;
        }
    </style>
    <script type="text/javascript">
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            msViewportStyle.appendChild(document
                .createTextNode("@-ms-viewport{width:auto!important}"));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>
    <div id="chf_header" class="chf_header chf_hld_hdr chf_intl_flt">
        <div class="chf_wrapper chf_padTop8 chf_clearfix_h chf_top_bar">
            <div class="chf_toppart_hdr chf_clearfix_h">
                <div class="chf_left_portion_hdr chf_flL">
                    <p class="chf_logo chf_flL">
                        <a href="//www.makemytrip.com/" class="chf_flL chf_logopart" title="MakeMyTrip – India's No.1 Travel Website" style="background: url(//imgak.mmtcdn.com/ssohdr/images/header_footer/mmt_logo_strip_new.png) 0 0 no-repeat; width:128px; height:50px;"></a>
                        <a target="_blank" href="http://www.makemytrip.com/blog/dil-toh-roaming-hai?intid=Blog_HPHeader_Logo" style="background: url(//imgak.mmtcdn.com/ssohdr/images/header_footer/mmt_logo_strip_new.png) -128px 0 no-repeat; height:50px; width:150px;" class="chf_doodle_part chf_flL"></a>
                    </p>
                </div>
                <iframe src="about:blank" name="res_iframe" id="res_iframe" width="1" height="1" style="height: 0px; width: 1px; overflow: hidden; visibility: hidden; position: absolute;" frameborder="0" border="0"></iframe>
                <iframe src="about:blank" name="seo_iframe" id="seo_iframe" width="1" height="1" style="height: 0px; width: 1px; overflow: hidden; visibility: hidden; position: absolute;" frameborder="0" border="0"></iframe>
                <iframe src="about:blank" name="res_iframe1" id="seo_iframe" width="1" height="1" style="height: 0px; width: 1px; overflow: hidden; visibility: hidden; position: absolute;" frameborder="0" border="0"></iframe>
                <div id="chf_right_portion_hdr" class="chf_right_portion_hdr chf_flR chf_posRel_1">
                    <div class="chf_topnav chf_clearfix_h"><span class="chf_flL chf_irctc"><span class="chf_irctc_icon chf_flR"></span></span>
                        <ul class="chf_list_hdr_1 chf_flR">
                            <li id="chf_mtr_li"><a target="_blank" href="//www.makemytrip.com/rewards/?intid=New_ch_mtr_na" class="chf_flL chf_explore_txt" style="padding-top: 4px; margin-right: 5px;" title="" id="chf_mtr"><span id="chf_mtr_text" class="chf_make_block" style="display: none; float: left; text-align: right; width: 50px; margin-right: 5px;">My Trip<br><b>Rewards</b><span id="chf_mtr_points"></span></span><span class="chf_flL chf_alR chf_reward_txt"><span class="new_red_bg">new</span><span class="new_red_text"><strong>My Rewards</strong></span><br><span id="get_free_text" class="get_free_text" style="padding-left: 16px;padding-right: 16px;">Get free room night with 4 bookings </span></span></a>
                                <div class="chf_mtr_tooltip" id="chf_mtr_tooltipID" style="display: none"><span class="chf_mtr_tip"></span>
                                    <p class="chf_clearfix_h cross_tooltip"><span class="chf_flR chf_mtr_closeicon" onclick="closeMTRToolTip();">x</span></p>
                                    <div class="chf_marT-13" id="chf_mtr_tooltipText">
                                        <p><strong>Save Rs. <span id="chf_rupees_value"></span></strong> by redeeming</p>
                                        <p>PAYBACK points while doing payment</p>
                                    </div>
                                </div>
                            </li>
                            <li class="chf_login_link"><a target="_blank" href="https://support.makemytrip.com/" id="login_dropOpenItem" class="chf_rhtNav chf_hasDropdowns chf_flL"><span id="toggleAcc" class="chf_center_part_hdr chf_flL"><span id="mmt_profile_pic" class="chf_profile_default chf_flL"></span><span id="ssologinlink" class="chf_country_info chf_flL">Login<br><strong>My Account</strong></span></span></a></li>
                            <li class="chf_countryNavItem last"><a href="javascript:void(0)" class="chf_rhtNav chf_flL" onclick="openLinks(this);" id="country_links"><span class="chf_center_part_hdr chf_flL"><span class="chf_country_info chf_flL"><span class="chf_indian_flag_big chf_flL"></span></span><span class="chf_flL chf_dropdown_arrow"></span></span></a></li>
                            <li class="chf_currencyNavItem chf_last"><a href="javascript:void(0)" class="chf_rhtNav chf_flL" onclick="openLinks(this);" id="currency_links"><span class="chf_center_part_hdr chf_flL"><span id="h_currency" class="chf_country_info chf_flL">INR</span><span class="chf_flL chf_dropdown_arrow"></span></span></a></li>
                        </ul>
                    </div>
                    <div id="country_dropdown" name="country_dropdown" class="chf_other_countries chf_dropdowns" style="width: 150px; top: 140px; left: 800px; overflow: auto; display: none;">
                        <p class="chf_selectCountryTxt">Select a different country:</p>
                        <p><small class="chf_uae_icn"></small><a href="http://www.makemytrip.ae/">United Arab Emirates</a></p>
                        <p><small class="chf_us_icn"></small><a href="http://us.makemytrip.com/">United States</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="chf_navbar">
            <div class="chf_wrapper chf_clearFix">
                <ul class="chf_navigation chf_fullWidth chf_flL">
                    <li><a href="//www.makemytrip.com/" class="chf_home_active"><span class="chf_home_nicon nav_icons"></span></a></li>
                    <li><a href="//www.makemytrip.com/flights/" class="chf_flight_active"><span class="chf_flight_nicon nav_icons"></span><span class="nav_text">Flight</span></a></li>
                    <li><a href="//www.makemytrip.com/hotels/" class="chf_hotel_active"><span class="chf_hotel_nicon nav_icons"></span><span class="nav_text">Hotel</span></a></li>
                    <li><a href="//holidayz.makemytrip.com" class="chf_holidays_active"><span class="chf_holidays_nicon nav_icons"></span><span class="nav_text">Holiday</span></a></li>
                    <li><a href="//www.makemytrip.com/flights-hotels/" class="chf_fph_active"><span class="chf_fph_nicon nav_icons"></span><span class="nav_text">Flight + Hotel</span></a></li>
                    <li><a href="//www.makemytrip.com/bus-tickets/" class="chf_bus_active"><span class="chf_bus_nicon nav_icons"></span><span class="nav_text">Bus</span></a></li>
                    <li><a href="//www.makemytrip.com/railways/" class="chf_rail_active"><span class="chf_rail_nicon nav_icons"></span><span class="nav_text">Trains</span></a></li>
                    <li><a href="//www.makemytrip.com/daily-deals/" class="chf_deals_active"><span class="chf_deals_nicon nav_icons"></span><span class="nav_text">Deals</span></a></li>
                    <li><a href="//www.makemytrip.com/blog/?intid=Blog_HomePage_Tab_Stories" class="chf_stories_active"><span class="chf_stories_nicon nav_icons"></span><span class="nav_text">Stories</span></a></li>
                    <li class="chf_last_tab"><a href="//www.rightstay.com/?utm_source=mmt&amp;utm_medium=tab&amp;utm_campaign=RightstayDeal" class="chf_rs_active" target="_blank"><span class="chf_rs_nicon nav_icons"></span><span class="nav_text">RightStay</span><span class="new_red_bg rs_new_red_bg" style="position: absolute; top: -8px; left: -36px;">new</span></a></li>
                </ul>
            </div>
        </div>
        <div class="chf_clearfix_h">
            <form id="seo_login_form" name="seo_login_form" action="https://hs.makemytrip.com:443/MmtConnectServices/rest/mmtservice/seo_login" method="post" target="seo_iframe">
                <p class="chf_clearfix_h">
                    <input type="hidden" class="sign_out chf_flL" value="submit">
                </p>
            </form>
        </div>
        <div class="chf_clearfix_h">
            <form id="app_notification_form" name="app_notification_form" action="https://hs.makemytrip.com:443/MmtConnectServices/rest/mmtservice/headerAppNotification" method="post" target="res_iframe1">
                <p class="chf_clearfix_h">
                    <input type="hidden" class="sign_out chf_flL" value="submit">
                </p>
            </form>
        </div>
        <div class="chf_clearfix_h">
            <form id="mtr_detail_form" name="mtr_detail_form" action="https://hs.makemytrip.com:443/MmtConnectServices/rest/mmtservice/mtrDetails" method="post" target="res_iframe1">
                <p class="chf_clearfix_h">
                    <input type="hidden" class="sign_out chf_flL" value="submit">
                </p>
            </form>
        </div>
        <div class="chf_clearfix_h">
            <form id="update_header_form" name="update_header_form" action="https://hs.makemytrip.com:443/MmtConnectServices/rest/mmtservice/updateHeader" method="post" target="res_iframe1">
                <p class="chf_clearfix_h">
                    <input type="hidden" class="sign_out chf_flL" value="submit">
                </p>
                <input type="hidden" id="headerAppNotification" name="headerAppNotification" value="false">
                <input type="hidden" id="callMtrDetails" name="callMtrDetails" value="false">
            </form>
        </div>
    </div>
    <div class="chf_subNavbar">
        <div class="chf_wrapper chf_clearFix">
            <ul class="chf_fullWidth chf_flL chf_levelOne">
                <li><a href="//www.makemytrip.com/holidays-india">India, Nepal &amp; Bhutan</a></li>
                <li><a href="//www.makemytrip.com/holidays-international">International Holidays</a></li>
                <li><a href="//www.makemytrip.com/travel-guide/">Travel Guide</a></li>
                <li><a href="//www.makemytrip.com/holidays-india/honeymoon-packages.html">Honeymoon Packages</a></li>
                <li><span id="header-nav" class="chf_levelOne_spanA"> Select by Theme </span>
                    <div class="chf_subNavChildren">
                        <ul>
                            <li><a href="//holidayz.makemytrip.com/holidays/india/search?dest=&amp;pick=Family" rel="nofollow">Family Packages (25)</a></li>
                            <li><a href="//holidayz.makemytrip.com/holidays/india/search?dest=&amp;pick=Summer Special" rel="nofollow">Summer Special Packages (23)</a></li>
                            <li><a href="//holidayz.makemytrip.com/holidays/india/search?dest=&amp;pick=Winter Special" rel="nofollow">Winter Special Packages (9)</a></li>
                            <li><a href="//holidayz.makemytrip.com/holidays/india/search?dest=&amp;pick=Luxury" rel="nofollow">Luxury Packages (7)</a></li>
                            <li><a href="//holidayz.makemytrip.com/holidays/india/search?dest=&amp;pick=Romantic" rel="nofollow">Romantic Packages (7)</a></li>
                        </ul>
                    </div>
                </li>
                <li><span id="header-nav" class="chf_levelOne_spanA"> Select by Region </span>
                    <div class="chf_subNavChildren">
                        <ul>
                            <li><a href="//holidayz.makemytrip.com/holidays/india/search?dest=East+India&amp;pick" rel="nofollow">East India Packages</a></li>
                            <li><a href="//holidayz.makemytrip.com/holidays/india/search?dest=West+India&amp;pick" rel="nofollow">West India Packages</a></li>
                            <li><a href="//holidayz.makemytrip.com/holidays/india/search?dest=North+India&amp;pick" rel="nofollow">North India Packages</a></li>
                            <li><a href="//holidayz.makemytrip.com/holidays/india/search?dest=South+India&amp;pick" rel="nofollow">South India Packages</a></li>
                            <li><a href="//holidayz.makemytrip.com/holidays/india/search?dest=Central+India&amp;pick" rel="nofollow">Central India Packages</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div><a href="tel:01244859742" class="btn btn-lg holiday-btn-secondary-grey holiday-cta-call text-center"><span class="holiday_ctaCall-icon"></span><span>0124-485-9742</span></a>
    <div class="holiday-dropdown-top append_bottom10"><a class="pull-left holiday-dropdown-left-icon" href="//holidayz.makemytrip.com/holidays/india"><span class="holiday-mobile-home-icon holiday-mobile-clearFix"></span></a><span class="holiday-dropdown-heading pull-left">Goa Packages</span></div>
</div>