<div id="block-hp_common-hp_search" class="block block-hp-common block-odd first last clearfix">
	<div class="block-inner">
		<div class="content">
			<div class="header_widget hidden-xs hidden-stb append_bottom15">
				<div class="top_section_informtn clearfix append_bottom6 hidden-xs hidden-stb">
					<ol class="breadcrumb container clearfix">
						<li>
							<div><a href="http://www.makemytrip.com"><span>Home</span></a></div>
						</li>
						<li class="seprtr">&gt;</li>
						<li>
							<div><a href="/holidays-india"><span>Holidays in India</span></a></div>
						</li>
						<li class="seprtr">&gt;</li>
						<li>
							<div><a href="/holidays-india/goa.html"><span>Goa</span></a></div>
						</li>
						<li class="seprtr">&gt;</li>
						<li><span>Goa Packages</span><span>&nbsp;(91 packages)</span></li>
					</ol>
				</div>
				<section class="col-xs-12 widget">
					<div class="clearfix">
						<div class="searchArea">
							<form action="#" class="clearfix">
								<div class="selectHotel col-xs-5">
									<div class="row">
										<label for="depCity">I AM FROM</label>
										<input class="form-control chooseCityField first form-text ui-autocomplete-input" id="depCity" type="text" name="depCity" value="" size="60" maxlength="128" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span></div>
								</div>
								<div class="selectHotel col-xs-5">
									<div class="row">
										<label for="dest">I WANT TO GO TO</label>
										<input class="form-control chooseCityField form-text ui-autocomplete-input" id="dest" type="text" name="dest" value="goa" size="60" maxlength="128" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span></div>
								</div>
								<div class="searchBtn col-xs-2">
									<div class="row">
										<label>&nbsp;</label>
										<input class="btn-primary-red btn-md width100 form-submit" style="font-stretch: semi-condensed; font-size-adjust: 0.45" onclick="return validateSearch(); return false;" type="submit" id="edit-search" name="" value="Show Package">
									</div>
								</div>
							</form>
						</div>
					</div>
					<input type="hidden" name="category" value="">
					<input type="hidden" name="isDestHoliday" value="true">
					<input type="hidden" name="selectedTabName" value="">
					<input id="requestType" type="hidden" name="request_type" value="dest">
					<input id="packageId" type="hidden" name="package_id" value="">
					<input id="region" type="hidden" name="region" value="dom">
					<input id="redirectUrl" type="hidden" name="redirect_url" value="">
					<input type="hidden" name="form_build_id" value="form-miM6seGmjr23tosj6-fQH3hy5Ls1tC4i9ZHlPm2MmxU">
					<input type="hidden" name="form_id" value="hp_search_widget_form">
				</section>
			</div>
		</div>
	</div>
</div>